---
layout: default
---
<section class="previews">
  <div>
    {% for post in paginator.posts %}
      <figure class="absolute-bg preview__img" style="background-image: url('{{site.cdnlink}}/assets/img/howardzhao-overlay-05.png'),url('{% if post.image %}{{site.cdnlink}}{{ post.image }}{% else %}{{ site.defaultpostimg }}{% endif %}');background-repeat: repeat,no-repeat;background-size: auto,cover;"></figure>   
    {% endfor %}
    <div class="previews__container">
      <span>Welcome to</span>
      <h1>{{ site.title }}</h1>
      <span>仅仅为了记录，记下消逝和即将消逝的点点滴滴，在回首的时候，能够知道，我曾经来过……</span>
    </div>
  </div>

  <div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">Posts</li>
        <li class="tabs__item">categories</li>
        <li class="tabs__item">About</li>
      </ul>
    </header>

    <div class="tab">
      <ul itemscope itemtype="http://schema.org/Blog">
        {% for post in paginator.posts %}
          <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
              <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
              <p class="preview__excerpt" itemprop="description">{{ post.content | strip_html | truncate: 90 }}</p>
              <span class="preview__more">Read More</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      
 {% if paginator.total_pages > 1 %}
        <div class="pagination">

    {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/pages/page-{{count}}/index.html">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% endif %}
 
</div>
      {% include archive-link.html %}
    </div>
    {% include categories-tab.html %}
    {% include about-tab.html %}

  </div>

</section>
